[Unit]
Description=Ansible Automation on Ansible Automation
After=network.target

[Service]
Environment="VAULT_TOKEN={{ VAULT_TOKEN }}"
Environment="VAULT_FORMAT=json"
Environment="VAULT_ADDR={{ VAULT_ADDR }}"
ExecStart=/opt/openknowit_ansibleautomation_main/bin/aaoaad master
User={{ aaoaa_serviceaccount['name'] }}
Restart=always
LogLevel=3

[Install]
WantedBy=default.target
RequiredBy=network.target

