[Unit]
Description=Ansible Automation on Ansible Automation
After=network.target

[Service]
ExecStart=/opt/openknowit_ansibleautomation_main/bin/aaoaad
User={{ aaoaa_serviceaccount['name'] }}
Restart=always
LogLevel=3

[Install]
WantedBy=default.target
RequiredBy=network.target

